In [180]:
import pandas as pd

In [181]:
platforms = ['CNNPolitics', 
             'nytpolitics',
             'postpolitics' ,
             'usatodayDC' ,
             'ReutersPolitics' ,
             'politico' ,
             'nprpolitics']

In [182]:
df_con = pd.DataFrame()

for platform in platforms:
    df = pd.read_csv('{}_file.csv'.format(platform), parse_dates=['created_at'])
    df = df[['text', 'created_at']]
    df = df.drop_duplicates(subset=['text'])
    df['source'] = platform
    df_con = pd.concat([df_con, df], ignore_index=True)
    print(platform, df_con.shape)

CNNPolitics (5780, 3)
nytpolitics (8002, 3)
postpolitics (13006, 3)
usatodayDC (20618, 3)
ReutersPolitics (28815, 3)
politico (44642, 3)
nprpolitics (63823, 3)

In [183]:
df_con.head()

,text,created_at,source
0,"JUST IN: The US economy added 164,000 jobs in ...",2019-08-02 12:42:16+00:00,CNNPolitics
1,"Dayton mayor ""at a loss"" for why President Tru...",2019-08-08 14:43:03+00:00,CNNPolitics
2,Hillary Clinton says staying in her marriage w...,2019-10-01 15:46:30+00:00,CNNPolitics
3,"Fire crews, air drops and a herd of goats help...",2019-10-31 21:35:04+00:00,CNNPolitics
4,Elizabeth Warren slams Michael Bloomberg: He's...,2019-11-27 00:11:04+00:00,CNNPolitics

In [184]:
df_con['date'] = df_con['created_at'].map(lambda x: x.date())

In [185]:
df_con['date'].min()

datetime.date(2019, 8, 1)

In [186]:
df_con['date'].max()

datetime.date(2019, 11, 29)

In [190]:
df_all = df_con.drop_duplicates(subset=['text'])

In [191]:
df_all['source'].value_counts()

politico           7630
CNNPolitics        5780
nprpolitics        3354
postpolitics       2782
usatodayDC         2608
nytpolitics        2222
ReutersPolitics     585
Name: source, dtype: int64

In [192]:
df_all.shape

(24961, 4)

In [198]:
df_all.head()

,text,created_at,source,date
0,"JUST IN: The US economy added 164,000 jobs in ...",2019-08-02 12:42:16+00:00,CNNPolitics,2019-08-02
1,"Dayton mayor ""at a loss"" for why President Tru...",2019-08-08 14:43:03+00:00,CNNPolitics,2019-08-08
2,Hillary Clinton says staying in her marriage w...,2019-10-01 15:46:30+00:00,CNNPolitics,2019-10-01
3,"Fire crews, air drops and a herd of goats help...",2019-10-31 21:35:04+00:00,CNNPolitics,2019-10-31
4,Elizabeth Warren slams Michael Bloomberg: He's...,2019-11-27 00:11:04+00:00,CNNPolitics,2019-11-27

In [203]:
df_all.to_csv('news_file.csv', index_label=False)

## test

In [215]:
df = pd.read_csv('news_file.csv')
df['date'] = pd.to_datetime(df['created_at'])